body {
  padding: 500px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font: 42px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 14px;
  font-style: "Lucida Grande";
}

.title-text {
  text-align: center;
}
