<html> 

<head> 

	<link rel="stylesheet" href="/style/style.css"/>
		
	<title>Projektityö testi 5</title> 
</head> 
<body> 
			<div class="title-text"><p>WASC</p></div>
			<div>Web Application Social Network</div> 
</body> 
</html> 
