<html> 

<head> 
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="style/style.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		
	<title>Projektityö testi 5</title> 
</head> 
<body> 
	<h1>WASC</h1>
	<h2>Web Application Social network</h2> 
</body> 
</html> 
